<body>
    
<section class="body-font min-h-screen flex flex-col">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col lg:flex-row mb-20 mt-16">
            <div class="lg:w-1/2  p-8">
                <h1 class="text-4xl font-bold text-center lg:text-left text-red-700">Vehicle Registration and Parking Reservation System</h1>
                <p class="mt-4 text-center lg:text-left">Simplify your parking experience with our user-friendly reservation platform. Book your spot in advance and enjoy the ease of stress-free parking every time you visit. No more circling the lot or worrying about finding a space – our intuitive system ensures that your parking needs are met with efficiency and ease.</p>
            </div>
            <div class="lg:w-1/2 flex justify-center items-center">
                <img src="https://img.freepik.com/free-vector/car-parking-city-street-luxury-automobiles_33099-1995.jpg?w=1800&t=st=1713183248~exp=1713183848~hmac=d656e93072fc9461949977526d25fa5f305759bd2890ad4675d5caad6384f5cc" alt="Image" class="max-w-full rounded-xl">
            </div>
        </div>
        
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/91/e0/72/91e0729cb5c4f0712e1fb8867f12f326.jpg"
                        alt="content">
                    <h2 class="font-bold text-red-700">Parking Management</h2>
                    <p class="leading-relaxed text-base">Relax the hassle of searching for parking spots with ParkEase's efficient parking management. Reserve your parking space in advance and ensure seamless access every time you arrive.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/25/90/c9/2590c9c0166fe68c3fc0a44d735c2ded.jpg"
                        alt="content">
                    <h2 class="heading-2 text-red-700">Location Management</h2>
                    <p class="leading-relaxed text-base">Streamline location management with ParkEase, ensuring optimal utilization and organization of available spaces. Coordinate bookings in advance and guarantee hassle-free access.</p>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/df/af/bf/dfafbf146f28a33689fa3a0f42ef94f7.jpg"
                        alt="content">
                    <h2 class="heading-4 text-red-700">Booking Management</h2>
                    <p class="leading-relaxed text-base">Faster
                        Stop stressing, circling and being late because we always have a convenient spot for you. With ParkEase, reserve before you go out and always park on the location on first try.</p>
                    </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/25/2b/b9/252bb939029514c71793d1e3054bd0fd.jpg"
                        alt="content">
                    <h2 class="text-red-700">Vehicle Management</h2>
                    <p class="leading-relaxed text-base">Ensure peace of mind with ParkEase's vehicle management system. Reserve your spot in advance and trust our advanced technology to safeguard your vehicle throughout your visit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="#"
            class="inline-block px-6 py-2 bg-red-500 text-white rounded-md shadow-md hover:bg-red-600 transition duration-300"
            [routerLink]="['/parking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i> </a>
    </div>
</section>
<footer class="footer text-center py-3">
    <p class="text-gray-600">© 2024 ParkEase</p>
</footer>
</body>

<link rel="stylesheet" href="home.component.css">
