body {
<<<<<<< HEAD
  background-image: url('https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
=======
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

=======
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
}

body {
  display: flex;
  flex-direction: column;
  background-color: #141414;
<<<<<<< HEAD
}


=======
  color: #cbd5e0;
}

>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
}

<<<<<<< HEAD

=======
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
.sect-hd {
  margin-bottom: 20px;
}

.sect-hd h1 {
  font-size: 2rem;
  font-weight: 500;
<<<<<<< HEAD
  color: #000000;
=======
  color: #fff;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  margin-bottom: 10px;
}

.sect-hd .divider {
  height: 1px;
  width: 20px;
  background-color: #ef4444;
  border: none;
  border-radius: 10px;
}

.content {
  flex: 1;
}

.card {
<<<<<<< HEAD
  background-color: #000000c2;
=======
  background-color: #000000bd;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 1.25rem;
<<<<<<< HEAD
  font-weight: bold;
=======
  font-weight: 500;
  color: #fff;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  margin-bottom: 10px;
}

.card h3 {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer {
  background-color: #000;
<<<<<<< HEAD
  color: #ffffff;
=======
  color: #cbd5e0;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  padding: 40px 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer ul li a {
<<<<<<< HEAD
  color: #f8f8f8;
=======
  color: #cbd5e0;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  text-decoration: none;
}

.footer ul li a:hover {
  color: #ef4444;
}

.footer .copyright {
  font-size: 0.875rem;
}

<<<<<<< HEAD
.black-container {
  background-color: black;
  padding: 20px;
}

=======
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
.container-8 {
  margin-bottom: 40px;
  margin-top: 50px;
  display: inline-block;
}

html {
  height: 100%;
}
<<<<<<< HEAD
.container-49{
  background-color: #00000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.text-white{
  font-weight: bold;
}
.paragraph {
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.75; /* You can adjust this value as needed */
  width: 100%;
}

body {

=======

body {
  min-height: 100%;
>>>>>>> ca8fcd78daf0569b2106cfb297cb70f5deb87815
  display: flex;
  flex-direction: column;
}

footer.footer {
  margin-top: auto;
}
