
  <link rel="stylesheet" href="parking.component.css">

<body>
  <section class="body-font min-h-screen flex flex-col">
    <div class="container px-5 py-24 mx-auto">
      <div class="container-8">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0 sect-hd red-text-500">
          <h1 class="text-grey">All Parking Locations</h1>
        </div>
        <p class="text-white">These are all available parking location. Kindly click on book now button to book your
          parking location.</p>
      </div>
      <div class="flex flex-wrap -m-10">
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2 class="text-red-600">Parkside Plaza</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 72</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 30/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 50/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/9f/ef/85/9fef85bc0a90a81a3df6991b8891dbd0.jpg" alt="content">
            <h2>Phoenix Marketcity Mall</h2>
            <h3>Ground-Floor-Parking</h3>
            <h3>Capacity - 70</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 25/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 40/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/fd/a7/70/fda7700df95b17ed01f35c67477a8126.jpg" alt="content">
            <h2>Unity Square</h2>
            <h3>Ground-Floor-Parking</h3>
            <h3>Capacity - 40</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 20/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 40/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/40/7f/30/407f30606afefe0e165f1c15fbba0029.jpg" alt="content">
            <h2>Pacific Mall</h2>
            <h3>Under-Ground-Parking</h3>
            <h3>Capacity - 48</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 30/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 50/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/cc/2e/45/cc2e452df4416a8ea049369f48a875b2.jpg" alt="content">
            <h2>Nexus Center</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 30</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 25/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 50/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/c4/74/2b/c4742b23c1257230ae34484f340b10ef.jpg" alt="content">
            <h2>Horizon Plaza</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 50</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 40/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 50/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/f3/b6/65/f3b6652efccae76b2aac6dd00147590a.jpg" alt="content">
            <h2>Axis Tower</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 45</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 30/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 50/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/db/d9/aa/dbd9aa6dfbfa24411f6d6fc8fc94000a.jpg" alt="content">
            <h2>Dabura Complex</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 65</h3>
            <h3 class="text-red-800">Two-wheelers - Rs 15/hr</h3>
            <h3 class="text-red-800">Four-wheelers - Rs 35/hr</h3>
            <a href="#"
              class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300 mt-3"
              [routerLink]="['/booking']" routerLinkActive="active">Book Now <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> 
</body>



