<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="parking.component.css">
</head>

<body>
  <section class="body-font min-h-screen flex flex-col">
    <div class="container px-5 py-24 mx-auto">
      <div class="container-8">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0 sect-hd">
          <h1 class="PARKEASE">All Parking Locations</h1>
        </div>
        <p class="text-gray-400">These are all available parking location. Kindly click on book now button to book your
          parking location.</p>
      </div>
      <div class="flex flex-wrap -m-10">
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2>Suwon City Mall</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 100</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/parking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/9f/ef/85/9fef85bc0a90a81a3df6991b8891dbd0.jpg" alt="content">
            <h2>Phoenix Marketcity Mall</h2>
            <h3>Ground-Floor-Parking</h3>
            <h3>Capacity - 70</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/fd/a7/70/fda7700df95b17ed01f35c67477a8126.jpg" alt="content">
            <h2>Ambience Mall</h2>
            <h3>Ground-Floor-Parking</h3>
            <h3>Capacity - 90</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/40/7f/30/407f30606afefe0e165f1c15fbba0029.jpg" alt="content">
            <h2>Pacific Mall</h2>
            <h3>Under-Ground-Parking</h3>
            <h3>Capacity - 185</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2>Rim Mall</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 100</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2>Gotham City Mall</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 100</h3>
                        <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>

          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2>Kai Mall</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 100</h3>
            <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-3">
          <div class="card">
            <img src="https://i.pinimg.com/564x/80/37/a4/8037a4a981d27e9c87b218e3f300e00f.jpg" alt="content">
            <h2>Dabura City Mall</h2>
            <h3>First-Floor-Parking</h3>
            <h3>Capacity - 100</h3>
            <a href="#" class="inline-block px-6 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-500 transition duration-300" [routerLink]="['/booking']" routerLinkActive="active">Book Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-14"></div>
    <footer class="footer">
      <div class="container mx-auto py-8">
        <div class="copyright">© 2024 ParkEase - All rights reserved</div>
      </div>
    </footer>

  </section>
</body>

</html>